body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('Images/fundo.png'); /* Colocar a imagem do menu como fundo */
    background: fixed;
}

.game-container {
    position: absolute;
    width: 1500px; 
    max-width: 1800px; 
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 0;
    outline: 6px solid #fff;
    overflow: hidden; /* Ter a certeza de que o container não estica verticalmente */
    background-color: bisque;
}

.game-container #Image_room
{
    position: absolute;
    height: 1116px
}

.game-container img {
    width: 100%;
    object-fit:contain;
}

#Main_Character {
    position: absolute;
    top: 500px;
    left: 930px; /* 800px - 70px */
    transform: translate(-50%, -50%);
    width: 66px;
    z-index: 3;
}

#zonacaes{
    position: absolute;
    width: 130px;
    left: 330px;
    top: 470px;
}

#zonagatos{
    position: absolute;
    left: 540px;
    top: 490px;
    width: 130px;
}

#zonacoelhos{
    position: absolute;
    width: 130px;
    left: 320px;
    top: 720px;
}

#zonahamsters{
    position: absolute;
    width: 130px;
    left: 500px;
    top: 720px;
}

/* --------------------------------------- */

#cao1 {
    position: absolute;
    top: 500px;
    left: 360px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}


#cao2 {
    position: absolute;
    top: 500px;
    left: 430px; 
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

#cao3 {
    position: absolute;
    top: 550px;
    left: 370px; 
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}


#cao4 {
    position: absolute;
    top: 530px;
    left: 430px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}


#cao5 {
    position: absolute;
    top: 510px;
    left: 390px; 
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

/* --------------------------------------- */

#coelho1 {
    position: absolute;
    top: 748px;
    left: 355px; 
    transform: translate(-50%, -50%);
    width: 45px;
}

#coelho2 {
    position: absolute;
    top: 750px;
    left: 410px;
    transform: translate(-50%, -50%);
    width: 45px;
}

#coelho3 {
    position: absolute;
    top: 790px;
    left: 370px; 
    transform: translate(-50%, -50%);
    width: 45px;
}

#coelho4 {
    position: absolute;
    top: 780px;
    left: 410px; 
    transform: translate(-50%, -50%);
    width: 45px;
}

/* ---------------------------------------- */

#gato1 {
    position: absolute;
    top: 520px;
    left: 575px; 
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: 1;
}

#gato2 {
    position: absolute;
    top: 520px;
    left: 640px; 
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: 1;
}

#gato3 {
    position: absolute;
    top: 560px;
    left: 575px;
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: 2;
}

#gato4 {
    position: absolute;
    top: 560px;
    left: 640px;
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: 2;
}

#gato5 {
    position: absolute;
    top: 540px;
    left: 610px; 
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: 1;
}

#gato6 {
    position: absolute;
    top:590px;
    left: 580px; 
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: 2;
}

/* ---------------------------------------- */

#hamster1 {
    position: absolute;
    top: 750px;
    left: 530px; 
    transform: translate(-50%, -50%);
    width: 35px;
}

#hamster2 {
    position: absolute;
    top: 750px;
    left: 600px; 
    transform: translate(-50%, -50%);
    width: 35px;
}

#hamster3 {
    position: absolute;
    top: 800px;
    left: 603px;
    transform: translate(-50%, -50%);
    width: 35px;
}

#hamster4 {
    position: absolute;
    top: 800px;
    left: 530px; 
    transform: translate(-50%, -50%);
    width: 35px;
}

#hamster5 {
    position: absolute;
    top: 766px;
    left: 565px; 
    transform: translate(-50%, -50%);
    width: 35px;
}

/* ------------------------------------------ */

#tacacao {
    position: absolute;
    top: 580px;
    left: 420px; 
    transform: translate(-50%, -50%);
    width: 45px;
}

#tacahamster{
    position: absolute;
    top: 830px;
    left: 565px; 
    transform: translate(-50%, -50%);
    width: 45px;
}

#tacagato {
    position: absolute;
    top:600px;
    left: 630px; 
    transform: translate(-50%, -50%);
    width: 45px;
}

#tacacoelho {
    position: absolute;
    top: 830px;
    left: 410px; 
    width: 45px;
}

/* --------------------------------------- */

#comidacao{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
    left: 1060px;
    top: 380px;
}

#comidagato{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
    left: 1105px;
    top: 380px;
}

#comidacoelho{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
    left: 1160px;
    top: 380px;
}

#comidahamster{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
    left: 1105px;
    top: 380px;
}

/* --------------------------------------- */

#Tapete_entrada {
    position: absolute;
    top: 900px;
    left: 703px; 
    transform: translate(-50%, -50%);
    width: 80px;
}

#Caixa_Registadora {
    position: absolute;
    top: 550px;
    left: 940px; 
    transform: translate(-50%, -50%);
    width: 120px;
    z-index: 4;
}

/* Disposição da barra de moedas */
#Image_coins_bar{
    position: absolute;
    top: 130px;
    left: 166px;
    transform: translate(-50%, -50%);
    width: 180px;
    z-index: 1;

}
/* Disposição da barra de tempo */
#Image_time_bar{
    position: absolute;
    top: 230px;
    left: 166px;
    transform: translate(-50%, -50%);
    width: 180px;
    z-index: 1;
}

/* Disposição do contador de tempo */
#contador {
    z-index: 2;
    position: absolute;
    top: 260px;
    left: 210px;
    transform: translate(-90%, -150%);
    font-weight: bold;
    font-size: 26px;
}

/* Disposição do contador de tempo */
#dinheiroTotal {
    z-index: 2;
    position: absolute;
    top: 160px;
    left: 210px;
    transform: translate(-90%, -150%);
    font-weight: bold;
    font-size: 26px;

}

/* Disposição do ícone das moedas */
#Image_coins{
    position: absolute;
    top: 123px;
    left: 43px;
    transform: translate(-50%, -50%);
    width: 50px;
}

#Image_time{
    position: absolute;
    top: 225px;
    left: 43px;
    transform: translate(-50%, -50%);
    width: 40px;
}

#coolButton {
    position: absolute;
    top:33px;
    left: 33px;
    padding: 10px 20px;
    background-color: transparent;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 66px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 100px;
}

#coolButton:hover {
    background-color: #ffa166;
}

#cliente {
    position: absolute;
    top: 880px;
    transform: translate(-50%, -50%);
    width: 80px;
}

/* Disposição da pequena história que vai aparecer no início do jogo */
.frase-1{
    position: absolute;
    top: 190px;
    left: 290px;
    background-color: #6b5f4c;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
.frase-2{
    position: absolute;
    top: 190px;
    left: 290px;
    background-color: #6b5f4c;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .frase-3{
    position: absolute;
    top: 190px;
    left: 290px;
    background-color: #6b5f4c;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
  }