body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('Images/fundo.png'); /* Colocar a imagem do menu como fundo */
    background: fixed;
}

.game-container {
    position: absolute;
    width: 1500px; 
    max-width: 1800px; 
    height: 1000px;
    margin: 20px auto 0;
    outline: 3px solid #fff;
    overflow: hidden; /* Ter a certeza de que o container não estica verticalmente */
    background-color: bisque;
}

.game-container #Image_room
{
    position: absolute;
    height: 1116px
}

.game-container img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

#Main_Character {
    position: absolute;
    top: 500px;
    left: 930px; /* 800px - 70px */
    transform: translate(-50%, -50%);
    width: 66px;
}

#Tapete_animais {
    position: absolute;
    top: 400px;
    left: 340px; /* 410px - 70px */
    transform: translate(-50%, -50%);
    width: 130px;
}

#Cão {
    position: absolute;
    top: 360px;
    left: 355px; /* 425px - 70px */
    transform: translate(-50%, -50%);
    width: 60px;
}

#Coelho {
    position: absolute;
    top: 425px;
    left: 355px; /* 425px - 70px */
    transform: translate(-50%, -50%);
    width: 55px;
    z-index: 1;
}

#Gato {
    position: absolute;
    top: 430px;
    left: 300px; /* 370px - 70px */
    transform: translate(-50%, -50%);
    width: 55px;
}

#Hamster {
    position: absolute;
    top: 360px;
    left: 300px; /* 370px - 70px */
    transform: translate(-50%, -50%);
    width: 70px;
}

#Tapete_entrada {
    position: absolute;
    top: 890px;
    left: 703px; /* 632px - 70px */
    transform: translate(-50%, -50%);
    width: 100px;
}

#Caixa_Registadora {
    position: absolute;
    top: 650px;
    left: 940px; /* 805px - 70px */
    transform: translate(-50%, -50%);
    width: 120px;
}

/* Disposição da barra de moedas */
#Image_coins_bar{
    position: absolute;
    top: 130px;
    left: 166px;
    transform: translate(-50%, -50%);
    width: 180px;
    z-index: 1;

}
/* Disposição da barra de tempo */
#Image_time_bar{
    position: absolute;
    top: 230px;
    left: 166px;
    transform: translate(-50%, -50%);
    width: 180px;
    z-index: 1;
}

/* Disposição do contador de tempo */
#contador {
    z-index: 2;
    position: absolute;
    top: 260px;
    left: 210px;
    transform: translate(-90%, -150%);
    font-weight: bold;
    font-size: 26px;

}

/* Disposição do ícone das moedas */
#Image_coins{
    position: absolute;
    top: 123px;
    left: 43px;
    transform: translate(-50%, -50%);
    width: 50px;
}

#Image_time{
    position: absolute;
    top: 225px;
    left: 43px;
    transform: translate(-50%, -50%);
    width: 40px;
}
