body {
    background: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Images/ShopBG_1920x1080px.png'); /* Colocar a imagem do menu como fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.game-container {
    text-align: center;
    position: relative;
    width: 80%; 
    max-width: 1800px; 
    height: 800px;
    margin: 20px auto 0;
    outline: 1px solid #fff;
    overflow: hidden; /* Ter a certeza de que o container não estica verticalmente */
    background-color: bisque;
}
/* Disposição do cenário principal */
#Image_room {
    width: 100%;
    height: 100%;
    object-fit:contain;
}
/* Disposição da barra de moedas */
#Image_coins_bar{
    position: absolute;
    top: 100px;
    left: 130px;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 50px;
}
/* Disposição da barra de tempo */
#Image_time_bar{
    position: absolute;
    top: 170px;
    left: 130px;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 50px;
}
/* Disposição do contador de tempo */
#contador {
    
    position: absolute;
    top: 100px;
    left: 100px;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 50px;
}
/* Disposição do ícone das moedas */
#Image_coins{
    position: absolute;
    top: 100px;
    left: 60px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

#Image_time{
    position: absolute;
    top: 167px;
    left: 60px;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 100px;
}

.game-menu img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.button-changes {
    margin-right: -500px;
    margin-top: -250px;
}

.button-changes button {
    padding: 15px 35px;
    font-size: 16px;
    font-weight: bold;
    background-color: #67CB57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-changes button:hover {
    background-color: #45a049;
}
#loginForm{
    display: none; /* Inicia oculto */
}